.wp-block-yokoi-squeeze-box {
	.squeeze-box-editor {
		padding: 1rem;
		border: 2px dashed #ddd;
		border-radius: 0.5rem;
		margin-bottom: 1rem;

		h4 {
			margin: 0 0 1rem 0;
			color: #1e1e1e;
		}
	}

	.squeeze-box {
		margin-top: 1rem;
	}

	.tab input {
		pointer-events: auto;
	}

	.squeeze-box-panel {
		background: #fff;
		border: 1px solid #dcdcde;
		border-radius: 6px;
		padding: 24px 32px 24px 24px !important;
		margin-bottom: 16px;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04);
		overflow: visible;
	}

	.squeeze-box-panel__header {
		margin-bottom: 12px;
	}

	.squeeze-box-panel__body > .components-base-control {
		margin-bottom: 12px;
	}

	&.alignleft,
	&.alignright,
	&.aligncenter {
		max-width: none;
		width: 100%;
	}

	&.alignleft {
		float: left;
		margin-right: 2em;
		margin-left: 0;
	}

	&.alignright {
		float: right;
		margin-left: 2em;
		margin-right: 0;
	}

	&.aligncenter {
		margin-left: auto;
		margin-right: auto;
	}

	&.alignwide {
		max-width: 1280px;
		width: 100%;
	}

	&.alignfull {
		max-width: none;
		width: 100%;
	}
}

